<div class="bg-light text-center py-3">
    <h3>С вами была Книга животных!</h3>
    <br>
    <h5>Энциклопедия всех видов живущих и вымерших зверей.
        Оригинально, эстетично, доступно.</h5>
    <br>
    <h5>Палец вверх, подписка — неоценимая поддержка нашего труда.</h5>
    <br>
    <p>Нас можно читать <strong class="text-blue">Вконтакте</strong> и в <strong class="text-blue">Телеграм!</strong></p>
    <p>Оригинал статьи:  https://dzen.ru/a/ZoKHZSD0SFFZ_GfO
        Связь с автором — magnus122@yandex.ru</p>
    <p>

    </p>
    <p>&copy; 2024 Книга животных. Все права защищены.</p>
</div>
