{% extends 'mainecoon/base.html' %}
{% load static %}

{% block title %}Страница 1{% endblock %}

{% block content %}
<div class="container page-background">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{% static 'mainecoon/img/Photo7.png' %}" class="card-img-top" alt="Кот-друг">
                <div class="card-body  text-center">
                    <p class="card-text text-justify w-100">Этот человеческий раб слишком мал для меня. Несите нового, побольше!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body  text-center">
                <h5 class="card-text text-justify w-100">Как же жить с таким котиком? Как и с любым другим — воспитывать его! Вы можете найти случайного котёнка на улице,
                    приложить усилия к его обучению и получить идеального питомца. А можете взять куна в элитном питомнике и вырастить монстра.
                    Всех шерстяных с младых когтей необходимо приучать к правилам поведения в доме. Не полагайтесь, что «порода» сделает это вместо вас.</h5>
                <br>
                <h5 class="card-text text-justify w-100">Не позволяйте котятам играть со своими руками и ногами вместо игрушек. Не приучайте их кусаться и царапаться.
                    Не позволяйте залезать на стол, шкафы и прочую мебель, не предназначенную для котолазанья.
                    Обзаведитесь игрушками и когтеточками, чтобы питомец не портил мебель. Все котячьи пакости веселят до тех пор,
                    пока зверь не вымахает размером с собаку. Привычки останутся, а силушки будет гораздо больше.
                    И с мейн-кунами это заметно особенно!</h5>
            </div>
        </div>
</div>
{% endblock %}
