{% extends 'mainecoon/base.html' %}
{% load static %}

{% block title %}Страница 1{% endblock %}

{% block content %}
<div class="container page-background">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <p></p>
                <img src="{% static 'mainecoon/img/Photo3.png' %}" class="card-img-top" alt="Кот-дикарь">
                <div class="card-body  text-center">
                    <p class="card-text text-justify w-100">Вряд ли злобный кот-дикарь дался бы с собой потискаться</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{% static 'mainecoon/img/Photo4.jpeg' %}" class="card-img-top" alt="Кот-бегемот">
                <div class="card-body  text-center">
                    <p class="card-text text-justify w-100">Ого, это что – добрый брат кота Бегемота?
                        Кстати, на этом фото рекордсмен 18 килограммовый мейн-кун из России.
                        Гиганта зовут Кефир, и он живёт у своей хозяйки в Старом Осколе.
                        У него есть свои соцсети. Это местная знаменитость, про которого часто пишут в новостях!</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h5 class="text-justify w-100">Но это не значит, что мейн-кун будет ласковым милым зверем. Здесь мы натыкаемся на другое заблуждение.
                Некоторые описывают породу как кошку с размерами и душой собаки. И если с первым согласиться можно,
                то второе — чистой воды выдумка. Мейн-куны независимы и самостоятельны.</h5>
            <br>
            <h5 class="text-justify w-100">Всё потому, что изначально их выводили для охоты на грызунов. Фермеры сурового штата Мэн,
                откуда и пошла порода, ценили ловкость и смелость котов, а не их мурчание.
                В 19 веке было не до телячьих нежностей! Вот и получились котики немного самодурами.
                Хотят — ластятся. Не хотят — уходят в дальний уголок, чтоб никто не уволок.
                Кому-то такое поведение нравится даже больше, чем вечное назойливое желание сесть на ручки.</h5>
        </div>
</div>
{% endblock %}
