{% extends 'mainecoon/base.html' %}
{% load static %}

{% block title %}Страница 1{% endblock %}

{% block content %}
<div class="container page-background">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{% static 'mainecoon/img/Photo5.png' %}" class="card-img-top" alt="Кот не шутит">
                <div class="card-body  text-center">
                    <p class="card-text text-justify w-100">Девочка, отдай этот бантик по-хорошему! Иначе следующей игрушкой станешь ты!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <p></p>
                <img src="{% static 'mainecoon/img/Photo6.png' %}" class="card-img-top" alt="Кот 2">
                <div class="card-body  text-center">
                    <p class="card-text text-justify w-100">При этом к более крупным животным мейн-куны относятся более чем терпимо!</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h5 class="text-justify w-100">Суровые условия и сформировали брутальную внешность котика. Меховая шуба защищает сразу ото всех погодных невзгод:
                дождя, ветра, снега. Подшерсток — согревает, остевой волос — не промокает. Длинные пучки меха на пальцах и ушах —
                защищают от обморожения конечностей. Даже пушистый хвост — и тот не для красоты! Обвив им лапки, котик с легкостью сидит на холодном.
                Получается, что мейн-кун — заложник двух противоположных крайностей. Но правда, как всегда, где-то посередине.
                Он не дикарь, вышедший из леса. Но бежать по первому хозяйскому зову тоже не станет. Зверь не сожрёт членов вашей семьи с голодухи.
                Но сильные охотничьи инстинкты могут подтолкнуть его закусить вашим любимым хомячком или крыской.
</h5>

        </div>
</div>
{% endblock %}
